body {
    background: navy;
    color: white;
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, navy, crimson);
    border-bottom: 3px solid gold;
}

/* Link */
.navbar a {
    color: white;
}

.navbar a:hover {
    color: gold;
}

/* Hero */
.hero {
    background:
    linear-gradient(rgba(0,0,128,0.8), rgba(220,20,60,0.7)),
    url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2');
}

/* Highlight text */
.hero span {
    color: gold;
}

/* Button */
.btn {
    background: crimson;
    color: white;
}

.btn:hover {
    background: gold;
    color: black;
}

/* Section dark */
.dark {
    background: repeating-linear-gradient(
        90deg,
        navy,
        navy 40px,
        crimson 40px,
        crimson 80px
    );
}

/* Card */
.card {
    background: black;
    border: 2px solid transparent;
}

.card:hover {
    border-color: gold;
    box-shadow: 0 0 20px gold;
}

/* Footer */
footer {
    background: linear-gradient(to right, navy, crimson);
    border-top: 3px solid gold;
}
