* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0b0c10;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    position: sticky;
    top: 0;
}

.navbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #e63946;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
    url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
}

.hero span {
    color: #e63946;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #e63946;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* Section */
.section {
    padding: 60px 20px;
    text-align: center;
}

.dark {
    background: #1a1a1a;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}
